.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 50px auto;
  border: 1px solid black;
}

.square {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 1px black solid;
  background: white;
}

.active {
  background: black;
}
